/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}


/* html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
} */

::selection {
    background: #fff;
    color: #fff;
}

.wrappers {
    overflow: hidden;
    max-width: none;
    background: #b12a2a;
    padding: 50px 0px;
    box-shadow: 0px 10px 30px #00000040;
    border-radius: 33px;
    opacity: 1;
}

.wrappers .title-text {
    display: flex;
    width: 200%;
}

.wrappers .title {
    width: 50%;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-family: 'Montserrat';
    color: #fff;
}

.wrappers .slide-controls {
    position: relative;
    display: flex;
    gap: 50px;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    /* border: 1px solid lightgrey; */
    border-radius: 5px;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label.signup {
    color: #000 !important;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 45%;
    left: 0;
    z-index: 0;
    border-radius: 50px;
    background: -webkit-linear-gradient(left, #ffffff, #ffffff);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
    display: none;
}

#signup:checked~.slider-tab {
    left: 55%;
}

#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked~label.login {
    color: #fff !important;
    border: 1px solid;
    border-radius: 50px;
}

#login:checked~label.signup {
    color: #fff !important;
    border: 1px solid;
    border-radius: 50px;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

.wrappers .form-container {
    width: 60%;
    overflow: hidden;
    margin: 0px auto;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    padding: 0;
}

.form-inner form .field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 14px;
    transition: all 0.3s ease;
    padding: 13px;
    border-radius: 10px !important;
}

.form-inner form .field input:focus {
    border-color: #fff;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #b3b3b3;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #fff;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    /* overflow: hidden; */
}

form .btn .btn-layer {
    height: 100%;
    width: 100%;
    position: absolute;
    left: auto;
    background: -webkit-linear-gradient(right, #ffffff, #ffffff, #ffffff, #ffffff);
    color: #000 !important;
    border-radius: 5px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none !important;
    color: #000;
    border-color: transparent !important;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
}

.form-inner form .signup-link ul li a {
    box-shadow: 0px 12px 16px #0303031A;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    opacity: 1;
    padding: 10px 30px;
}

.paragola.text-center {
    margin-bottom: 60px !important;
    width: 80%;
    margin: 0px auto;
}